{
  "extends": ["@joengsh/eslint-config-react", "plugin:storybook/recommended"],
  "rules": {
    "import/no-anonymous-default-export": [
      "warn",
      {
        "allowObject": true
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
